{% extends 'base.html' %}
{% load static %}
{% block title %}Главная{% endblock %}
{% block content %}
<section class="home">
    <div class="home__wrapper container__base">
        <div class="home__info">
            <div class="home__info-decor">Анжелика</div>
            <div class="home__info-title">Анжелика Турлак</div>
            <div class="home__info-profession">Python-разработчик</div>
            <div class="home__info-intro">Я Python-разработчик и сейчас нахожусь в поиске новых возможностей. Буду рада
                присоединиться к
                сплоченной команде для совместной работы на интересных проектах. Закончила курсы по разработке на
                python, владею знаниями фреймворка Django. Также продолжаю изучать данный язык программирования и
                все, что с ним связано самостоятельно.
            </div>
        </div>
        <div class="home__img">
            <img class="home__img-img" src="{% static 'images/ava 3.png' %}">
        </div>
    </div>
</section>
<section class="about">
    <div class="container__base">
        <div class="about__title">Обо мне</div>
        <div class="about__title1">Образование</div>
        <div class="about__container">
            {% for education in educations %}
            <div class="about__card">
                <div class="about__card-title">{{ education.university }}</div>
                <div class="about__card-ears">{{ education.date }}</div>
                <div class="about__card-description">{{ education.description }}</div>
            </div>
            {% endfor %}
        </div>

        <div class="about__category">
            <div class="about__title1">Опыт работы</div>
            <div class="about__container">
                {% for work in works %}
                <div class="about__card">
                    <div class="about__card-title">{{ work.organization }}</div>
                    <div class="about__card-description">{{ work.profession }}</div>
                    <div class="about__card-ears">{{ work.date }}</div>
                    <div class="about__card-description">{{ work.description }}</div>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="about__category">
            <div class="about__title1">Курсы</div>
            <div class="about__container">
                {% for cours in courses %}
                <div class="about__card">
                    <div class="about__card-title">{{ cours.title }}</div>
                    <div>{{ cours.organization }}</div>
                    <div class="about__card-ears">{{ cours.date }}</div>
                    <div>{{ cours.description }}</div>
                    <img class="about__card-img" src="{{ cours.certificate.url }}">
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="about__title1">Предпочтения в работе</div>
        <div>Я Python-разработчик и сейчас нахожусь в поиске новых возможностей.
            Предпочитаю работу в офисе, так как считаю, что работа в команде в
            формате офлайн - залог успеха для качественного создания проекта.
            Мои цели на ближайшее время: через год/два хотела бы дорасти до Middle
            разработчика, через три/четыре года до Senior.
            Нацелена развиваться и стать Team Lead.
        </div>

        <div class="about__title1">Личные качества</div>
        <div>Командная работа, Проактивность, Тайм-менеджмент,Гибкость, Коммуникативность</div>
    </div>
</section>
<section class="projects">
    <div class="about__wrapper container__base">
        <div class="about__category">
            <div class="about__title">Проекты</div>
        </div>
        <div class="about__category">
            <div class="about__container">
                {% for project in projects %}
                <div class="about__card">
                    <div class="about__card-title">{{ project.title }}</div>
                    <div>Технологии: {% for technol in project.technology.all %}
                        {{ technol.technology }}{% endfor %}
                    </div>
                    <div>{{ project.link }}</div>
                    <div class="about__card-ears">{{ project.created_on}}</div>
                    <img class="about__card-img" src="{{ project.image.url }}">
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<!--<section class="contacts"></section>-->

{% endblock %}