:root{
    --main-name-font: 'Comforter Brush', cursive;
    --color-icon-text: #2F3035;
    --color-background-base: #E7E4E2;
}

html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*,
*::after,
::before{
    box-sizing: inherit;
}
a{
    text-decoration: none;
    color: inherit;
    display: inline-block;
}
ul,
li{
    margin: 0;
    padding:0;
    list-style: none;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
}
p{
    margin: 0;
}
body{
    color: var(--color-icon-text);
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
    background: var(--color-background-base);
    margin: 0;
}
header{
    height: 11vh;
    line-height: 11vh;
    position: fixed;
    top:0;
    left:0;
    background: var(--color-background-base);
    background-attachment: fixed;
    z-index:1;
    width: 100%;
}
.container__base{
    max-width: 1400px;
    padding: 0 15px;
    margin: 0 auto;
}
.header{
    display: flex;
    justify-content: space-between;
    left:50%;
    top:0;
}
.header__title{
    font-family: var(--main-name-font);
    font-size: 50px;
}
.header__menu{
    display: flex;
    justify-content: space-between;
}
.header__menu-item{
    padding: 0 1em;
}
.footer{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid black;
    padding: 20px 0;
}
.footer__menu{
    display: flex;
    justify-content: space-between;
}
.footer__title{
    line-height: 50px;
}
.footer__title::before{
    content: "©";
    padding-right: 10px;
}
.footer__menu-link{
    padding-right: 20px;
    fill: var(--color-icon-text);
}
.footer__menu-svg{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    transition: .2s;
}
.footer__menu-svg:hover{
    transform: scale(1.4);
    fill: green;
}
ul.footer__menu > li:first-child > a>svg:hover{
    fill: #0e76a8;
}
ul.footer__menu > li:nth-child(2) > a>svg:hover{
    fill: black;
}
ul.footer__menu > li:nth-child(3) > a>svg:hover{
    fill: #C71610;
}
ul.footer__menu > li:nth-child(4) > a>svg:hover{
    fill: #a2951c;
}
ul.footer__menu > li:nth-child(5) > a>svg:hover{
    fill: #0088cc;
}
ul.footer__menu > li:nth-child(6) > a>svg:hover{
    fill: #25D366;
}
ul.footer__menu > li:last-child > a>svg:hover{
    fill: #8f5db7;
}
.footer__menu-item{
    padding-right: 1em;
}
/*---------index----------- */
/*=========home============ */
.home{
    position: relative;
    height: 100vh;
}
.home__wrapper {
    display: flex;
    padding-top: 11vh;
}
.home__info{
    width: 50%;
}
.home__info-decor{
    margin-top: 13vh;
    font-family: var(--main-name-font);
    font-size: 15vw;
    line-height: 15vh;
    letter-spacing: 20px;
    color: #d3d3d3;
    position: absolute;
    left: 0.5em;
}
.home__info-title{
    margin-top: 10vw;
    font-family: var(--main-name-font);
    font-size: 4vw;
    font-width: 700;
    line-height: 15vh;
    letter-spacing: 10px;
    position:relative;
}
.home__info-profession{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 2em;
    line-height: 4em;
    font-weight: 500;
}
.home__img-img{
    position: absolute;
    right: 5vw;
    top: 16vh;
    height: 84%;
}
/*=========about============ */
.about{
    background: var(--color-icon-text);
    color: var(--color-background-base);
}
.about__title{
    padding: 1em 0 0;
    font-weight: 700;
    font-size: 60px;
    letter-spacing: 10px;
    text-align: center;
}
.about__title1{
    padding: 2em 0 2em;
    font-weight: 500;
    font-size: 50px;
    letter-spacing: 5px;
    text-align: center;
}
.about__container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-content: space-between;
    flex-wrap: wrap;
}
.about__card{
    box-sizing: border-box;
    width: 40%;
    min-weight: 300px;
    border: 1px solid #888888;
    border-radius: 10px;
    text-align: center;
    padding: 25px 15px;
    background: #848482;
}
.about__card-title{
    font-weight: 700;
    line-height: 40px;
    padding-bottom: 10px;
    letter-spacing: 5px;
}
.about__card-ears{
    padding-bottom: 20px;
}
.about__card-description{}
.about__card-img{
    width: 70%;
}



.about__card-title{}
.about__card-title{}
/*=========home============ */
/*=========home============ */
/*=========home============ */